<div class="profile-container">
    <h1>Perfil de Usuario</h1>

    <img src="/images/perfil.png" alt="image de perfil" id="profileImg">
    <p><strong>Name:</strong> <span id="nombre">{{user.name}}</span></p>
    <p><strong>User:</strong> <span id="User">@{{user.username}}</span></p>
    <p><strong>E-mail:</strong> <span id="email">{{user.email}}</span></p>
    <p><strong>Team:</strong> <span id="team">{{user.team}}</span></p>
    <p><strong>Cash:</strong> <span id="Cash">$ {{user.cash}}</span></p>
    <p><strong>Pokemons:</strong> <span id="pokemons">
            <ul>
                {{#each user.pokemons}}
                <li><a href="/pokemon/all/all/:pokemon?search={{this.name}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
        </span></p>


    <a href="/user/edit/{{user._id}}" class="btn btn-primary"> Editar Perfil</a>
    <a href="/user/delete/{{user._id}}" class="btn btn-danger">Deletar Perfil</a>

</div>