<div class="detailPokemon">
    <h1>{{pokemon.name}}</h1>
    <img src="{{pokemon.imagen}}" alt="{{pokemon.name}}" class="pokemonDetail" />

    <h2>Abilities:</h2>
    <ul>
        {{#each pokemon.abilities}}
        <li>{{this}}</li>
        {{/each}}
    </ul>


    <h2>Types:</h2>
    <ul>
        {{#each pokemon.types}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Propietario: {{pokemon.user.username}}</p>

    <p>Price: ${{pokemon.price}}</p>

    {{#if autor}}
    <a href="/pokemon/edit/{{pokemon._id}}" class="btn btn-secondary">Editar</a>
    <a href="/pokemon/edit/{{pokemon._id}}" class="btn btn-danger">Deletar</a>
    {{else}}
    <a href="/pokemon/buy/{{pokemon._id}}/{{pokemon.user._id}}" class="btn btn-success">Comprar</a>
    {{/if}}
    {{#if errorMessage}}
    <br><span style='color:#ff0000'>{{errorMessage}}</span>
    {{/if}}
</div>