<div class="detailPokemon">
    <h1>{{pokemon.name}}</h1>
    <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}" />

    <h2>Abilities:</h2>
    <ul>
        {{#each pokemon.abilities}}
        <li>{{ability.name}}</li>
        {{/each}}
    </ul>

    <h2>Estadísticas:</h2>
    <ul>
        {{#each pokemon.stats}}
        <li>{{stat.name}}: {{base_stat}}</li>

        {{/each}}
    </ul>

    <h2>Types:</h2>
    <ul>
        {{#each pokemon.types}}
        <li>{{type.name}}</li>
        {{/each}}
    </ul>
    <p>Altura: {{pokemon.height}}</p>
    <p>Peso: {{pokemon.weight}}</p>
    <p>Experiencia: {{pokemon.base_experience}}</p>

    <p>Price: ${{pokemon.price}}</p>
    <p>id: {{pokemon.id}}</p>

    <h2>Moves:</h2>
    <ul>
        {{#each pokemon.moves}}
        <li>{{move.name}}</li>
        {{/each}}
    </ul>
</div>